In [5]:
import csv
import pandas as pd

# Column Names and First 5 Rows
with open('/Users/Marcy_Student/Desktop/m0-Final_Project/data/csv files/tv_shows.csv', encoding='utf-8') as file:
    reader = csv.reader(file,delimiter=',') 
    header = next(reader)
    print("List of column names:", header)
    for i, row in enumerate(reader):
        if i < 5:
            print('First 5 Rows:', row)

List of column names: ['', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type']
First 5 Rows: ['0', '1', 'Breaking Bad', '2008', '18+', '9.4/10', '100/100', '1', '0', '0', '0', '1']
First 5 Rows: ['1', '2', 'Stranger Things', '2016', '16+', '8.7/10', '96/100', '1', '0', '0', '0', '1']
First 5 Rows: ['2', '3', 'Attack on Titan', '2013', '18+', '9.0/10', '95/100', '1', '1', '0', '0', '1']
First 5 Rows: ['3', '4', 'Better Call Saul', '2015', '18+', '8.8/10', '94/100', '1', '0', '0', '0', '1']
First 5 Rows: ['4', '5', 'Dark', '2017', '16+', '8.8/10', '93/100', '1', '0', '0', '0', '1']

In [6]:
# Header Type
for item in header[0:-1]:
    print('Header Type:', type(item))

Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>

In [7]:
# Show Availability Count of all Streaming Platforms
df = pd.read_csv('/Users/Marcy_Student/Desktop/m0-Final_Project/data/csv files/tv_shows.csv')

N_count = df['Netflix'] >= 1
H_count = df['Hulu'] >= 1
PV_count = df['Prime Video'] >= 1
D_count = df['Disney+'] >= 1

print('Netflix Show Availability:', N_count.sum())
print('Hulu Show Availability:',H_count.sum())
print('Prime Video Show Availability:', PV_count.sum())
print('Disney+ Show Availability:', D_count.sum())

Netflix Show Availability: 1971
Hulu Show Availability: 1621
Prime Video Show Availability: 1831
Disney+ Show Availability: 351

In [8]:
# Filtered List of Netflix Show Availability Count
N_filter = df['Netflix'] >= 1
df_N_filter = df[N_filter]
print(df_N_filter)

      Unnamed: 0    ID               Title  Year  Age    IMDb Rotten Tomatoes  \
0              0     1        Breaking Bad  2008  18+  9.4/10         100/100
1              1     2     Stranger Things  2016  16+  8.7/10          96/100
2              2     3     Attack on Titan  2013  18+  9.0/10          95/100
3              3     4    Better Call Saul  2015  18+  8.8/10          94/100
4              4     5                Dark  2017  16+  8.8/10          93/100
...          ...   ...                 ...   ...  ...     ...             ...
4701        4701  5017        Human Nature  2013  NaN     NaN          13/100
5064        5064  5385       The Bad Batch  2021   7+  8.2/10          82/100
5097        5097  5425         The Muppets  2015   7+  7.4/10          64/100
5231        5231  5575  Pick of the Litter  2019   7+  8.1/10          47/100
5303        5303  5650            Becoming  2020  16+  6.8/10          38/100

      Netflix  Hulu  Prime Video  Disney+  Type
0           1     0            0        0     1
1           1     0            0        0     1
2           1     1            0        0     1
3           1     0            0        0     1
4           1     0            0        0     1
...       ...   ...          ...      ...   ...
4701        1     0            1        0     1
5064        1     0            0        1     1
5097        1     0            0        1     1
5231        1     1            0        1     1
5303        1     0            0        1     1

[1971 rows x 12 columns]

In [9]:
# Filtered List of Hulu Show Availability Count
H_filter = df['Hulu'] >= 1
df_H_filter = df[H_filter]
print(df_H_filter)

      Unnamed: 0    ID                             Title  Year  Age    IMDb  \
2              2     3                   Attack on Titan  2013  18+  9.0/10
11            11    12                         Community  2009   7+  8.5/10
13            13    14                         Shameless  2011  18+  8.5/10
25            25    26  Fullmetal Alchemist: Brotherhood  2009  16+  9.1/10
29            29    30                    Grey's Anatomy  2005  16+  7.5/10
...          ...   ...                               ...   ...  ...     ...
4124        4124  4417                     Ghost Stories  1997  NaN  6.6/10
4586        4586  4897                     Morning Glory  2013  NaN     NaN
4951        4951  5270                         Supernova  2005  NaN     NaN
5231        5231  5575                Pick of the Litter  2019   7+  8.1/10
5247        5247  5591                         The Lodge  2016  NaN  6.2/10

     Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
2             95/100        1     1            0        0     1
11            90/100        1     1            1        0     1
13            90/100        1     1            1        0     1
25            88/100        1     1            0        0     1
29            87/100        1     1            0        0     1
...              ...      ...   ...          ...      ...   ...
4124          39/100        1     1            1        0     1
4586          16/100        0     1            1        0     1
4951          10/100        0     1            1        0     1
5231          47/100        1     1            0        1     1
5247          46/100        0     1            0        1     1

[1621 rows x 12 columns]

In [10]:
# Filtered List of Prime Video Show Availability Count
PV_filter = df['Prime Video'] >= 1
df_PV_filter = df[PV_filter]
print(df_PV_filter)

      Unnamed: 0    ID                            Title  Year  Age    IMDb  \
5              5     6       Avatar: The Last Airbender  2005   7+  9.3/10
11            11    12                        Community  2009   7+  8.5/10
13            13    14                        Shameless  2011  18+  8.5/10
37            37    38            American Horror Story  2011  18+  8.0/10
40            40    41   Star Trek: The Next Generation  1987   7+  8.6/10
...          ...   ...                              ...   ...  ...     ...
5052        5052  5371             Breakfast with Bevan  2013  NaN     NaN
5053        5053  5372            Gas, Grub, and Ghosts  2017  NaN     NaN
5054        5054  5373            Extreme Constructions  2017  NaN     NaN
5055        5055  5374        Nature's Treasure Islands  2014  NaN     NaN
5056        5056  5375  Lego Set Builds Chima - Artifex  2017  NaN     NaN

     Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
5             93/100        1     0            1        0     1
11            90/100        1     1            1        0     1
13            90/100        1     1            1        0     1
37            86/100        1     1            1        0     1
40            86/100        1     1            1        0     1
...              ...      ...   ...          ...      ...   ...
5052          10/100        0     0            1        0     1
5053          10/100        0     0            1        0     1
5054          10/100        0     0            1        0     1
5055          10/100        0     0            1        0     1
5056          10/100        0     0            1        0     1

[1831 rows x 12 columns]

In [11]:
# Filtered List of Disney+ Show Availability Count
D_filter = df['Disney+'] >= 1
df_D_filter = df[D_filter]
print(df_D_filter)

      Unnamed: 0    ID                                  Title  Year  Age  \
321          321   323                   Beauty and the Beast  2012   7+
833          833   836                               PJ Masks  2015  all
920          920   923                                  X-Men  2011  16+
1219        1219  1222                          Gigantosaurus  2019  all
1580        1580  1586                       Inspector Gadget  2015  all
...          ...   ...                                    ...   ...  ...
5363        5363  5713                       Paradise Islands  2017  NaN
5364        5364  5714                         Mexico Untamed  2018  NaN
5365        5365  5715                  Wild Centeral America  2020  NaN
5366        5366  5716                            Wild Russia  2018  NaN
5367        5367  5717  Fearless Adventures with Jack Randall  2018  NaN

        IMDb Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
321   7.0/10          69/100        1     0            0        1     1
833   5.5/10          55/100        1     0            0        1     1
920   6.9/10          53/100        1     0            0        1     1
1219  7.2/10          48/100        1     0            0        1     1
1580  4.6/10          40/100        1     0            0        1     1
...      ...             ...      ...   ...          ...      ...   ...
5363     NaN          10/100        0     0            0        1     1
5364     NaN          10/100        0     0            0        1     1
5365     NaN          10/100        0     0            0        1     1
5366     NaN          10/100        0     0            0        1     1
5367     NaN          10/100        0     0            0        1     1

[351 rows x 12 columns]

In [12]:
year_filter = df['Year'] < 2018
df_newer = df[year_filter]
print(df_newer)

      Unnamed: 0    ID             Title  Year  Age    IMDb Rotten Tomatoes  \
0              0     1      Breaking Bad  2008  18+  9.4/10         100/100
1              1     2   Stranger Things  2016  16+  8.7/10          96/100
2              2     3   Attack on Titan  2013  18+  9.0/10          95/100
3              3     4  Better Call Saul  2015  18+  8.8/10          94/100
4              4     5              Dark  2017  16+  8.8/10          93/100
...          ...   ...               ...   ...  ...     ...             ...
5348        5348  5697     Party Animals  2016  all     NaN          19/100
5349        5349  5698  Nature Boom Time  2016  NaN     NaN          18/100
5356        5356  5705      Marvel Funko  2017  NaN     NaN          14/100
5360        5360  5710       Love & Vets  2017  NaN     NaN          13/100
5363        5363  5713  Paradise Islands  2017  NaN     NaN          10/100

      Netflix  Hulu  Prime Video  Disney+  Type
0           1     0            0        0     1
1           1     0            0        0     1
2           1     1            0        0     1
3           1     0            0        0     1
4           1     0            0        0     1
...       ...   ...          ...      ...   ...
5348        0     0            0        1     1
5349        0     0            0        1     1
5356        0     0            0        1     1
5360        0     0            0        1     1
5363        0     0            0        1     1

[3593 rows x 12 columns]

***
6/7/2025: 12:03PM

In [13]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0    ID                                  Title  Year  Age  \
0              0     1                           Breaking Bad  2008  18+
1              1     2                        Stranger Things  2016  16+
2              2     3                        Attack on Titan  2013  18+
3              3     4                       Better Call Saul  2015  18+
4              4     5                                   Dark  2017  16+
...          ...   ...                                    ...   ...  ...
5363        5363  5713                       Paradise Islands  2017  NaN
5364        5364  5714                         Mexico Untamed  2018  NaN
5365        5365  5715                  Wild Centeral America  2020  NaN
5366        5366  5716                            Wild Russia  2018  NaN
5367        5367  5717  Fearless Adventures with Jack Randall  2018  NaN

        IMDb Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
0     9.4/10         100/100        1     0            0        0     1
1     8.7/10          96/100        1     0            0        0     1
2     9.0/10          95/100        1     1            0        0     1
3     8.8/10          94/100        1     0            0        0     1
4     8.8/10          93/100        1     0            0        0     1
...      ...             ...      ...   ...          ...      ...   ...
5363     NaN          10/100        0     0            0        1     1
5364     NaN          10/100        0     0            0        1     1
5365     NaN          10/100        0     0            0        1     1
5366     NaN          10/100        0     0            0        1     1
5367     NaN          10/100        0     0            0        1     1

[5368 rows x 12 columns]>

In [39]:
# Remove "/100" from 'Rotten Tomatoes' column, and change it to int
df['Rotten Tomatoes'] = df['Rotten Tomatoes'].str.replace('/100', '', regex=False)
df['Rotten Tomatoes'] = df['Rotten Tomatoes'].astype(int)

AttributeError: Can only use .str accessor with string values!

In [22]:
df.dtypes

Unnamed: 0          int64
ID                  int64
Title              object
Year                int64
Age                object
IMDb               object
Rotten Tomatoes     int64
Netflix             int64
Hulu                int64
Prime Video         int64
Disney+             int64
Type                int64
dtype: object

In [55]:
N_condition = df['Rotten Tomatoes'] >= 90
N_result = df.loc[N_condition, 'Netflix']

H_condition = df['Rotten Tomatoes'] >= 90
H_result = df.loc[H_condition, 'Hulu']

PV_condition = df['Rotten Tomatoes'] >= 90
PV_result = df.loc[PV_condition, 'Prime Video']

D_condition = df['Rotten Tomatoes'] >= 90
D_result = df.loc[D_condition, 'Disney+']

In [59]:
pd.value_counts(N_result)

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_67039/445901837.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(N_result)

Netflix
0    21
1    17
Name: count, dtype: int64

In [60]:
pd.value_counts(H_result)

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_67039/338343177.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(H_result)

Hulu
0    21
1    17
Name: count, dtype: int64

In [61]:
pd.value_counts(PV_result)

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_67039/2438829247.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(PV_result)

Prime Video
0    28
1    10
Name: count, dtype: int64

In [62]:
pd.value_counts(D_result)

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_67039/3465329362.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(D_result)

Disney+
0    35
1     3
Name: count, dtype: int64