In [152]:
import csv
import pandas as pd

# Column Names and First 5 Rows
with open('/Users/Marcy_Student/Desktop/m0-Final_Project/data/tv_shows.csv', 'r', encoding='utf-8') as file:
    reader = csv.reader(file,delimiter=',') 
    header = next(reader)
    print("List of column names:", header)
    for i, row in enumerate(reader):
        if i < 5:
            print('First 5 Rows:', row)

List of column names: ['', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type']
First 5 Rows: ['0', '1', 'Breaking Bad', '2008', '18+', '9.4/10', '100/100', '1', '0', '0', '0', '1']
First 5 Rows: ['1', '2', 'Stranger Things', '2016', '16+', '8.7/10', '96/100', '1', '0', '0', '0', '1']
First 5 Rows: ['2', '3', 'Attack on Titan', '2013', '18+', '9.0/10', '95/100', '1', '1', '0', '0', '1']
First 5 Rows: ['3', '4', 'Better Call Saul', '2015', '18+', '8.8/10', '94/100', '1', '0', '0', '0', '1']
First 5 Rows: ['4', '5', 'Dark', '2017', '16+', '8.8/10', '93/100', '1', '0', '0', '0', '1']

In [151]:
# Header Type
for item in header[0:-1]:
    print('Header Type:', type(item))

Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>
Header Type: <class 'str'>

In [154]:
# Show Availability Count of all Streaming Platforms
df = pd.read_csv('/Users/Marcy_Student/Desktop/m0-Final_Project/data/tv_shows.csv')

N_count = df['Netflix'] >= 1
H_count = df['Hulu'] >= 1
PV_count = df['Prime Video'] >= 1
D_count = df['Disney+'] >= 1

print('Netflix Show Availability:', N_count.sum())
print('Hulu Show Availability:',H_count.sum())
print('Prime Video Show Availability:', PV_count.sum())
print('Disney+ Show Availability:', D_count.sum())

Netflix Show Availability: 1971
Hulu Show Availability: 1621
Prime Video Show Availability: 1831
Disney+ Show Availability: 351

In [ ]:
# Filtered List of Netflix Show Availability Count
N_filter = df['Netflix'] >= 1
df_N_filter = df[N_filter]
print(df_N_filter)

      Unnamed: 0    ID               Title  Year  Age    IMDb Rotten Tomatoes  \
0              0     1        Breaking Bad  2008  18+  9.4/10         100/100
1              1     2     Stranger Things  2016  16+  8.7/10          96/100
2              2     3     Attack on Titan  2013  18+  9.0/10          95/100
3              3     4    Better Call Saul  2015  18+  8.8/10          94/100
4              4     5                Dark  2017  16+  8.8/10          93/100
...          ...   ...                 ...   ...  ...     ...             ...
4701        4701  5017        Human Nature  2013  NaN     NaN          13/100
5064        5064  5385       The Bad Batch  2021   7+  8.2/10          82/100
5097        5097  5425         The Muppets  2015   7+  7.4/10          64/100
5231        5231  5575  Pick of the Litter  2019   7+  8.1/10          47/100
5303        5303  5650            Becoming  2020  16+  6.8/10          38/100

      Netflix  Hulu  Prime Video  Disney+  Type
0           1     0            0        0     1
1           1     0            0        0     1
2           1     1            0        0     1
3           1     0            0        0     1
4           1     0            0        0     1
...       ...   ...          ...      ...   ...
4701        1     0            1        0     1
5064        1     0            0        1     1
5097        1     0            0        1     1
5231        1     1            0        1     1
5303        1     0            0        1     1

[1971 rows x 12 columns]

In [84]:
year_filter = df['Year'] < 2018
df_newer = df[year_filter]
print(df_newer)

      Unnamed: 0    ID             Title  Year  Age    IMDb Rotten Tomatoes  \
0              0     1      Breaking Bad  2008  18+  9.4/10         100/100
1              1     2   Stranger Things  2016  16+  8.7/10          96/100
2              2     3   Attack on Titan  2013  18+  9.0/10          95/100
3              3     4  Better Call Saul  2015  18+  8.8/10          94/100
4              4     5              Dark  2017  16+  8.8/10          93/100
...          ...   ...               ...   ...  ...     ...             ...
5348        5348  5697     Party Animals  2016  all     NaN          19/100
5349        5349  5698  Nature Boom Time  2016  NaN     NaN          18/100
5356        5356  5705      Marvel Funko  2017  NaN     NaN          14/100
5360        5360  5710       Love & Vets  2017  NaN     NaN          13/100
5363        5363  5713  Paradise Islands  2017  NaN     NaN          10/100

      Netflix  Hulu  Prime Video  Disney+  Type
0           1     0            0        0     1
1           1     0            0        0     1
2           1     1            0        0     1
3           1     0            0        0     1
4           1     0            0        0     1
...       ...   ...          ...      ...   ...
5348        0     0            0        1     1
5349        0     0            0        1     1
5356        0     0            0        1     1
5360        0     0            0        1     1
5363        0     0            0        1     1

[3593 rows x 12 columns]